.hero {
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        padding-left: 14%;
    }

    &__title {
        font-size: 5rem;
        font-weight: 700;
        color: #fff;
        padding: 0;
        margin: 0;
        line-height: 1;
    }

    &__description {
        color: #fff;
        margin-top: 20px;
        padding: 0;
        width: 60%;
    }

    &__button {
        margin-top: 20px;
    }
}

.about {
    &-image-1 {
        width: 260px;
        height: 174px;
        object-fit: cover;
    }

    &-image-2 {
        width: 457px;
    }

}

.services-card {
    padding: 15px;
}

.services-card-body .card-title {
    margin: 0;
}

@media (max-width: 768px) {
    .hero {
        &__title {
            font-size: 3rem;
        }
    }
}

@media (max-width: 576px) {
    .hero {
        &__container {
            padding: 0 30px;
        }

        &__title {
            font-size: 2rem;
        }

        &__description {
            width: 100%;
        }
    }

    .about {
        &-image-1 {
            width: 100%;
            height: auto;
        }

        &-image-2 {
            width: 100%;
        }
    }
}
